In [199]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [200]:
train_df=pd.read_excel('Data_Train.xlsx')
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [201]:
test_df=pd.read_excel('Test_set.xlsx')
test_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [202]:
test_df.describe()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
count,2671,2671,2671,2671,2671,2671,2671,2671,2671,2671
unique,11,44,5,6,100,199,704,320,5,6
top,Jet Airways,9/05/2019,Delhi,Cochin,DEL → BOM → COK,10:00,19:00,2h 50m,1 stop,No info
freq,897,144,1145,1145,624,62,113,122,1431,2148

In [203]:
tecol=test_df.columns
trcol=train_df.columns
print(tecol,trcol)

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info'],
      dtype='object') Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')

In [204]:
final_df=pd.concat([train_df,test_df],ignore_index=True)
print(train_df.shape,test_df.shape,
final_df.shape)

(10683, 11) (2671, 10) (13354, 11)

In [205]:
final_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

In [206]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13354 entries, 0 to 13353
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.1+ MB

In [207]:
final_df.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')

In [208]:
final_df.describe

<bound method NDFrame.describe of                  Airline Date_of_Journey    Source Destination  \
0                 IndiGo      24/03/2019  Banglore   New Delhi
1              Air India       1/05/2019   Kolkata    Banglore
2            Jet Airways       9/06/2019     Delhi      Cochin
3                 IndiGo      12/05/2019   Kolkata    Banglore
4                 IndiGo      01/03/2019  Banglore   New Delhi
...                  ...             ...       ...         ...
13349          Air India       6/06/2019   Kolkata    Banglore
13350             IndiGo      27/03/2019   Kolkata    Banglore
13351        Jet Airways       6/03/2019     Delhi      Cochin
13352          Air India       6/03/2019     Delhi      Cochin
13353  Multiple carriers      15/06/2019     Delhi      Cochin

                       Route Dep_Time  Arrival_Time Duration Total_Stops  \
0                  BLR → DEL    22:20  01:10 22 Mar   2h 50m    non-stop
1      CCU → IXR → BBI → BLR    05:50         13:15   7h 25m     2 stops
2      DEL → LKO → BOM → COK    09:25  04:25 10 Jun      19h     2 stops
3            CCU → NAG → BLR    18:05         23:30   5h 25m      1 stop
4            BLR → NAG → DEL    16:50         21:35   4h 45m      1 stop
...                      ...      ...           ...      ...         ...
13349        CCU → DEL → BLR    20:30  20:25 07 Jun  23h 55m      1 stop
13350              CCU → BLR    14:20         16:55   2h 35m    non-stop
13351        DEL → BOM → COK    21:50  04:25 07 Mar   6h 35m      1 stop
13352        DEL → BOM → COK    04:00         19:15  15h 15m      1 stop
13353        DEL → BOM → COK    04:55         19:15  14h 20m      1 stop

      Additional_Info    Price
0             No info   3897.0
1             No info   7662.0
2             No info  13882.0
3             No info   6218.0
4             No info  13302.0
...               ...      ...
13349         No info      NaN
13350         No info      NaN
13351         No info      NaN
13352         No info      NaN
13353         No info      NaN

[13354 rows x 11 columns]>

In [209]:
#Now we have to crete the new features from object date to th date monthe and year

final_df['Date']=final_df['Date_of_Journey'].str.split('/').str[0].astype(int)
final_df['Month']=final_df['Date_of_Journey'].str.split('/').str[1].astype(int)
final_df['Year']=final_df['Date_of_Journey'].str.split('/').str[2].astype(int)

In [210]:
final_df.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price', 'Date', 'Month', 'Year'],
      dtype='object')

#### byLamda Function

In [211]:
#final_df['Dates']=final_df['Date_of_Journey'].apply(lambda x : x.split('/')[0])
#final_df['Dates']

In [212]:
final_df['Date_of_Journey']

0        24/03/2019
1         1/05/2019
2         9/06/2019
3        12/05/2019
4        01/03/2019
            ...
13349     6/06/2019
13350    27/03/2019
13351     6/03/2019
13352     6/03/2019
13353    15/06/2019
Name: Date_of_Journey, Length: 13354, dtype: object

In [213]:
type(final_df['Date'].iloc[0])

numpy.int32

In [214]:
final_df['Date'].dtype

dtype('int32')

In [215]:
final_df['Date']=final_df['Date'].astype(int)

In [216]:
final_df.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price', 'Date', 'Month', 'Year'],
      dtype='object')

In [217]:
final_df.drop('Date_of_Journey',axis=1,inplace=True)

In [218]:
final_df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,9,6,2019
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,5,2019
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,1,3,2019

In [219]:
final_df['Arrival_Time'].str.split(' ').str[0]

0        01:10
1        13:15
2        04:25
3        23:30
4        21:35
         ...
13349    20:25
13350    16:55
13351    04:25
13352    19:15
13353    19:15
Name: Arrival_Time, Length: 13354, dtype: object

In [220]:
final_df['Arrival_Time'].apply(lambda x: x.split(' ')[0])

0        01:10
1        13:15
2        04:25
3        23:30
4        21:35
         ...
13349    20:25
13350    16:55
13351    04:25
13352    19:15
13353    19:15
Name: Arrival_Time, Length: 13354, dtype: object

In [221]:
final_df['Arrival_Time']

0        01:10 22 Mar
1               13:15
2        04:25 10 Jun
3               23:30
4               21:35
             ...
13349    20:25 07 Jun
13350           16:55
13351    04:25 07 Mar
13352           19:15
13353           19:15
Name: Arrival_Time, Length: 13354, dtype: object

In [222]:
final_df['Arrival_hour'] = final_df['Arrival_Time'].str.split(':').str[0].astype(int)
final_df['Arrival_min']=final_df['Arrival_Time'].str.split(':').str[1].str.split(' ').str[0].astype(int)

In [223]:
final_df.drop('Arrival_Time',axis=1,inplace=True)
final_df

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,19h,2 stops,No info,13882.0,9,6,2019,4,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,5h 25m,1 stop,No info,6218.0,12,5,2019,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,4h 45m,1 stop,No info,13302.0,1,3,2019,21,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13349,Air India,Kolkata,Banglore,CCU → DEL → BLR,20:30,23h 55m,1 stop,No info,NaN,6,6,2019,20,25
13350,IndiGo,Kolkata,Banglore,CCU → BLR,14:20,2h 35m,non-stop,No info,NaN,27,3,2019,16,55
13351,Jet Airways,Delhi,Cochin,DEL → BOM → COK,21:50,6h 35m,1 stop,No info,NaN,6,3,2019,4,25
13352,Air India,Delhi,Cochin,DEL → BOM → COK,04:00,15h 15m,1 stop,No info,NaN,6,3,2019,19,15
13353,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,04:55,14h 20m,1 stop,No info,NaN,15,6,2019,19,15

In [224]:
final_df['Dep_Time']

0        22:20
1        05:50
2        09:25
3        18:05
4        16:50
         ...
13349    20:30
13350    14:20
13351    21:50
13352    04:00
13353    04:55
Name: Dep_Time, Length: 13354, dtype: object

In [225]:
final_df['Dep_hour']=final_df['Dep_Time'].str.split(':').str[0].astype('int')
final_df['Dep_min']=final_df['Dep_Time'].str.split(':').str[1].astype('int')
final_df.drop('Dep_Time',axis=1,inplace=True)

In [226]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13354 entries, 0 to 13353
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Duration         13354 non-null  object
 5   Total_Stops      13353 non-null  object
 6   Additional_Info  13354 non-null  object
 7   Price            10683 non-null  float64
 8   Date             13354 non-null  int32
 9   Month            13354 non-null  int32
 10  Year             13354 non-null  int32
 11  Arrival_hour     13354 non-null  int32
 12  Arrival_min      13354 non-null  int32
 13  Dep_hour         13354 non-null  int32
 14  Dep_min          13354 non-null  int32
dtypes: float64(1), int32(7), object(7)
memory usage: 1.2+ MB

In [227]:
final_df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [228]:
final_df['Total_Stops']

0        non-stop
1         2 stops
2         2 stops
3          1 stop
4          1 stop
           ...
13349      1 stop
13350    non-stop
13351      1 stop
13352      1 stop
13353      1 stop
Name: Total_Stops, Length: 13354, dtype: object

In [229]:
final_df['Total_Stops']=final_df['Total_Stops'].map({'non-stop':0,'2 stops':2, '1 stop':1, '3 stops':3, "nan":2, '4 stops':4})

In [230]:
final_df['Total_Stops'].isnull().sum()

1

In [231]:
final_df['Total_Stops'].fillna(1).astype(int)

0        0
1        2
2        2
3        1
4        1
        ..
13349    1
13350    0
13351    1
13352    1
13353    1
Name: Total_Stops, Length: 13354, dtype: int32

In [232]:
final_df.drop('Route',axis=1,inplace=True)

In [233]:
final_df['Duration']

0         2h 50m
1         7h 25m
2            19h
3         5h 25m
4         4h 45m
          ...
13349    23h 55m
13350     2h 35m
13351     6h 35m
13352    15h 15m
13353    14h 20m
Name: Duration, Length: 13354, dtype: object

In [ ]:
final_df['Duration_hour']=final_df['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [ ]:
final_df['Duration_hour']=final_df['Duration_hour'].astype(int)

ValueError: invalid literal for int() with base 10: '5m'

In [ ]:
#final_df.drop(final_df[final_df['Duration']=='5m'].index, inplace=True)

##or


final_df=final_df[final_df['Duration']!='5m']

0         2
1         7
2        19
3         5
4         4
         ..
13349    23
13350     2
13351     6
13352    15
13353    14
Name: Duration_hour, Length: 13352, dtype: object

In [ ]:
final_df['Airline'].value_counts()

Airline
Jet Airways                          4746
IndiGo                               2564
Air India                            2190
Multiple carriers                    1543
SpiceJet                             1026
Vistara                               608
Air Asia                              405
GoAir                                 240
Multiple carriers Premium economy      16
Jet Airways Business                    8
Vistara Premium economy                 5
Trujet                                  1
Name: count, dtype: int64

In [ ]:
final_df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min,Duration_hour
0,IndiGo,Banglore,New Delhi,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20,2
1,Air India,Kolkata,Banglore,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,5,50,7
2,Jet Airways,Delhi,Cochin,19h,2.0,No info,13882.0,9,6,2019,4,25,9,25,19
3,IndiGo,Kolkata,Banglore,5h 25m,1.0,No info,6218.0,12,5,2019,23,30,18,5,5
4,IndiGo,Banglore,New Delhi,4h 45m,1.0,No info,13302.0,1,3,2019,21,35,16,50,4

In [ ]:
from sklearn.preprocessing import LabelEncoder
Labelencoder=LabelEncoder()

In [ ]:
final_df['Airline']=Labelencoder.fit_transform(final_df['Airline'])
final_df['Source']=Labelencoder.fit_transform(final_df['Source'])
final_df['Destination']=Labelencoder.fit_transform(final_df['Destination'])
final_df['Additional_Info']=Labelencoder.fit_transform(final_df['Additional_Info'])

In [ ]:
from sklearn.preprocessing import OneHotEncoder
one=OneHotEncoder()
final_df['Airline']=one.fit_transform(final_df['Airline'])
final_df['Source']=one.fit_transform(final_df['Source'])
final_df['Destination']=one.fit_transform(final_df['Destination'])
final_df['Additional_Info']=one.fit_transform(final_df['Additional_Info'])

ValueError: Expected a 2-dimensional container but got <class 'pandas.core.series.Series'> instead. Pass a DataFrame containing a single row (i.e. single sample) or a single column (i.e. single feature) instead.